@import "./../styles/mixins.scss";

.article-wr {
  nav {
    padding: 0 15px 30px;
    display: flex;
    width: 100%;
    .link{
      padding: 30px;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px;
      width: 50%;
      border-radius: 15px;
      font-size: 20px;
      &__prev {
        text-align: right;
        margin-right: 15px;
      }
      &__next {
        text-align: left;
        margin-left: auto;
      }

    }
  }
}

.article {
  display: flex;
  //align-items: center;
  flex-direction: column;
  margin: 10px 15px 30px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px;
  border-radius: 15px;
  padding: 45px 20px;
  @include mobile {
    margin: 10px 0 30px;
  }

  a:not(img) {
    font-weight: 700;
    border-bottom: 2px dashed #ffae00;
    transition: 0.3s;
    &:hover{
      color: #ffae00;
    }
  }

  section {
    max-width: 580px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    max-width: 580px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    margin-top: 30px;
    color: #000;
    line-height: 40px;
    font-weight: 900;
  }
  h1 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    & + p {
      margin-top: 30px;
    }
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    margin-top: 30px;
  }
  p {
    margin-top: 27px;
    font-size: 20px;
    line-height: 1.7;
    font-weight: 400;
    color: #000;
    & + h1, h2, h3 {
      margin-top: 45px;
    }
    @include mobile{
      line-height: 1.5;
      font-size: 19px;
    }
  }

  :not(pre) > code[class*="language-"] {
    padding: 2px 7px;
    background: #e8e8e8;
    text-shadow: none;
    line-height: 1.8;
  }

  ul, ol {
    list-style: none;
    padding-top: 30px;
    padding-left: 17px;
    li {
      list-style: disc;
      list-style-position: outside;
      font-size: 20px;
      line-height: 1.7;
      font-weight: 400;
      margin-bottom: 20px;
      color: #000;
      font-smoothing: subpixel-antialiased;
      -webkit-font-smoothing: subpixel-antialiased;
      @include mobile{
        line-height: 1.5;
        font-size: 19px;
      }
    }
    ul, ol {
      padding-top: 0;
    }
  }

  .footer {
    max-width: 580px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
  }

  //ul {
  //  padding-bottom: 10px;
  //  li {
  //    list-style: disc;
  //    list-style-position: outside;
  //    font-size: 20px;
  //    line-height: 1.7;
  //    font-weight: 400;
  //    margin-bottom: 20px;
  //    color: #000;
  //    font-smoothing: subpixel-antialiased;
  //    -webkit-font-smoothing: subpixel-antialiased;
  //  }
  //}
}